.form {
    &__wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  &__input {
    margin-top: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
  }

  &__submit {
      margin: 20px auto 0;
      border: 1px solid black;
      border-radius: 5px;
      background-color: white;
      padding: 5px 15px;
  }

}